<div class="horizontal_list">
	<ul>
		<li>
			<%= link_to image_tag("arrow_left.png"), :back, title: "Go back to previous screen." %>
			<%= link_to "back", :back, title: "Go back to previous screen." %>
		</li>
	</ul>
</div>
<br />
<h2>Editing &quot<%=@article.title%>&quot</h2>
<br/>
<%= render 'form' %>