
<div class="horizontal_list">
	<ul>
		<li>
			<%= link_to image_tag("arrow_left.png"), articles_path, title: "Show all Articles" %>
			<%= link_to "list all articles", articles_path, title: "Show all Articles" %>
		</li>
	</ul>
</div>
<br />
<h2>Creating a New Article</h2>

<%= render 'form' %>
