/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
div.table_div{
	overflow: auto;
	height: 300px;
	width: 800px;
	margin-top: 0px;
}
table#header_table {
	width: 800px;
	margin-bottom: 0px;
	border-left: solid black 2px;
	border-right: solid black 2px;
}

tr.list_line_odd{
	background: #EEEEEE;
}


th#title_header {
	background: #CCCCCC;
	width: 96px
}
th#author_header {
	background: #CCCCCC;
	width: 108px;
}


table#encapsulating_table, table#article_table{
	width: 100%
}

tr.interior_row, tr.list_line_odd, tr.list_line_even {
	height: 25px
}

tr.table_header_row {
	height: 20px
}

table#article_table {
	border-left: solid black 2px;
	border-right: solid black 2px;
	margin: 0px;
}

.button_column{
	background: white;
	border-top: white;
	border-bottom: white;
}