/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
div#index_table {
	overflow: auto;
	height: 50%;
	width: 90%;
}
tr.list_line_odd{
	background: #EEEEEE;
}
th {
	background: #CCCCCC;
}
table {
	border: solid black 2px;
	margin: 0px;
}