body{
    font-family: Sans-serif;
    background-color: #aaaaaa;
    color: 000000;
}

#headers {
    background-color: cccccc;
}
#main {
    border-right-style: solid;

    border-left-style: solid;

    border-bottom-style: solid;

    border-top-style: solid;
    
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    margin-left: 38px;
    margin-right: 40px;
    background-color: fcfcfc;
}
a.menuelement:hover { /* change to blue on mouseover */
     color: #0000ff;
}

#menubar ul {
    list-style-type: none;
    color: #ffffff;
    background-color: #000000;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 13px;
    padding-top: 11px;
}
#menubar ul li { 
    display: inline; 
    padding-right: 3%;
}