body{
    font-family: Sans-serif;
    background-color: #aaaaaa;
    color: #000000;
}

#headers {
    background-color: #cccccc;
    height: 100%;
    padding-left: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 10px;

    padding-bottom: 10px;
    padding-top: 8px;
}

h2 {
    margin-top: 7px;
}

h4 {
    margin-top: 6px;
}
h5 {
    margin-bottom: 24px;
}
h6 h1 {
    margin-left: 5px;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
h6 {
    color: #666666;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#main {
    border-right-style: solid;

    border-left-style: solid;

    border-bottom-style: solid;

    border-top-style: solid;

    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    margin-left: 38px;
    margin-right: 40px;
    background-color: #fcfcfc;
}
a:visited {
    color: #ffffff;
    text-decoration: none;
}
a:link {
    color: #ffffff;
    text-decoration: none;
}
a:hover { 
    color: #0000ff;
}

select {
    position: absolute;
    left: 265px;
}
#how_feel_text {
    position: relative;
    left: 3%;
    margin-bottom: 5px;
}

#menubar ul {
    list-style-type: none;
    color: #ffffff;
    background-color: #000000;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 13px;
    padding-top: 7px;
    font-weight: bold;
}
div.internaltext, h2 {
    margin-left:10px;
    margin-bottom: 1%;
}
#menubar ul li { 
    display: inline; 
    padding-right: 3%;
}
#rightpanel {
    float: right;
    background-color: #f0f0ff;
    position: relative;
    top: 9px;
    right: 10px;
    padding-right: 30px;
    padding-left: 6px
}

#second_line_label {
    margin-top: 0px;
}
#footer {
    background-color: #F0F0F0;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
}
#footer_text{
    left: 50px;
    font-size: 12px;
}
#submitbtn {
    margin-left: 217px;
    font-size: 12px;
    margin-bottom: 23px;
    margin-top: 11px;
}